{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Blog</h1>

<h3 class="text-center mb-5">John has written {{ blogPosts.count }} blog{{ blogPosts.count|pluralize }}</h3>

{% for blogPost in blogPosts %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blogPost.id %}">
      <h2>{{ blogPost.title }}</h2>
    </a>
    <h5 class="text-muted">{{ blogPost.date|date:'M d Y'|upper }}</h5>
    <h4>{{ blogPost.content|striptags|truncatechars:100 }}</h4>
  </div>
</div>
{% endfor %}

{% endblock %}
